h1 {
	font-family:'Poiret One', cursive;
	text-transform: uppercase;
	font-size: 50px;
	line-height: 50px;
}

h2 {
	font-family:'Poiret One', cursive;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 50px;
}

h3.name {
	font-family:'Poiret One', cursive;
	text-transform: uppercase;
	font-size: 25px;
	line-height: 25px;
}

a {
	color: inherit;
}

section.greeting, section.product-features, section.recommendations, section.template-examples, section.contact-form,    {
	background-color: #303D50;
}

section.greeting h1, section.greeting p {
	color: #FFFFFF;
}

section.product-features h2, section.product-features p,  section.product-features a {
	color: #FFFFFF;
}

section.recommendations h2, section.recommendations p {
	color: #FFFFFF;
}

section.template-examples h2, section.template-examples p, section.template-examples a {
	color: #FFFFFF;
}

section.contact-form h2, section.contact-form p {
	color: #FFFFFF;
}

section.greeting h1 {
	margin-top: 50px;
	margin-bottom: 75px;
}

section.greeting p {
	margin-top: 200px;
	margin-bottom: 20px;
}

section.greeting img {
	margin-top: 15px;
	margin-bottom: 30px;
}

section.greeting.btn-danger {
	margin-top: 50px;
	margin-bottom: 100px;
}

section.mobile-features {
	margin-top: 10px;
	margin-bottom: 100px;
}

section.product-features {
	margin-top: 50px;
}

div.description.text-center {
	margin-top: 30px;
	margin-bottom: 50px;
}

h2.title.text-center {
	margin-top: 50px;
	margin-bottom: 50px;
}

section.company-staff {
	margin-bottom: 50px;
}
